    <!-- FLASH SALE START -->
    <section id="promo" class="section-padding text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-bolt"></i> FLASH SALE!</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">SEGERA ORDER | STOK TERBATAS</p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4">
            <!--FLASH SALE PRODUK BARIS I START-->
            <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.flashsale1img }}" alt="Flash Sale 1">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                    <li><a href="{{ page.flashsale1link }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                    <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.flashsale1link }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- TOMBOL BELI -->
                    <a href="{{ page.flashsale1link }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a> 
                    <!-- TOMBOL BELI END-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.flashsale1link }}" target="_blank">{{ page.flashsale1price }}</a> </h3>Rp <del>{{ page.flashsale1del }}</del>
                <p>{{ page.flashsale1 }}</p>
              </div>
            </div>
            <!-- FLASH SALE PRODUK BARIS I END-->
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- FLASH SALE PRODUK BARIS II START -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.flashsale2img }}" alt="Flash Sale 1">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                    <li><a href="{{ page.flashsale2link }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                    <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.flashsale2link }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- TOMBOL BELI -->
                    <a href="{{ page.flashsale2link }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a> 
                    <!-- TOMBOL BELI END-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.flashsale2link }}" target="_blank">{{ page.flashsale2price }}</a> </h3>Rp <del>{{ page.flashsale2del }}</del>
                <p>{{ page.flashsale2 }}</p>
              </div>
            </div>
            <!-- FLASH SALE PRODUK BARIS II END -->
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- FLASH SALE PRODUK BARIS III START -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.flashsale3img }}" alt="Flash Sale 1">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                    <li><a href="{{ page.flashsale3link }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                    <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.flashsale3link }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- TOMBOL BELI -->
                    <a href="{{ page.flashsale3link }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a> 
                    <!-- TOMBOL BELI END-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.flashsale3link }}" target="_blank">{{ page.flashsale3price }}</a> </h3>Rp <del>{{ page.flashsa3e1del }}</del>
                <p>{{ page.flashsale3 }}</p>
              </div>
            </div>
            <!-- FLASH SALE PRODUK BARIS III END -->
          </div>
         </div>
      
          <!-- TOMBOL LIHAT SEMUA FLASH SALE START -->  
          <a href="{{ page.flashsaleall }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="0.6s"> <i class="fa fa-mail-forward"></i> LIHAT SEMUA FLASH SALE!</a> 
          <!-- TOMBOL LIHAT SEMUA FLASH SALE END -->

      </div>          
    </section>
    <!-- FLASH SALE END-->