    <!-- Blog Section Start -->
    <section id="blog" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Berita Terkini</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">Informasi terbaru dari {{ site.author }}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="blog-item">
              <div class="blog-image">
                <a href="{{ site.instagram }}" target="_blank">
                  <img class="img-fluid" src="https://i.postimg.cc/XqG2ZtZV/IMG-20191003-111423.jpg" alt="1">
                </a>
              </div>
              <div class="descr">
                <div class="tag">INSTAGRAM</div>
                <h3 class="title">
                  <a href="{{ site.instagram }}" target="_blank">
                    Terimakasih dukungan JNE Semanan
                  </a>
                </h3>
                <div class="meta-tags">
                  <span class="date">5 Oktober 2019</span>
                  <span class="comments">| <a href="{{ site.url }}/blog" target="_blank"> by {{ site.author }}</a></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="blog-item">
              <div class="blog-image">
                <a href="{{ site.instagram }}" target="_blank">
                  <img class="img-fluid" src="https://i.postimg.cc/NF0JQW4G/screenshot-16.png" alt="2">
                </a>
              </div>
              <div class="descr">
                <div class="tag">YOUTUBE</div>
                <h3 class="title">
                  <a href="{{ site.instagram }}" target="_blank">
                    Terimakasih tembus 1.000 order
                  </a>
                </h3>
                <div class="meta-tags">
                  <span class="date">18 Mei 2019</span>
                  <span class="comments">| <a href="{{ site.url }}/blog" target="_blank"> by {{ site.author }}</a></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="blog-item">
              <div class="blog-image">
                <a href="{{ site.instagram }}" target="_blank">
                  <img class="img-fluid" src="https://i.postimg.cc/N06SjLCG/IMG-20191004-194957-3-resolusi-1000.jpg" alt="3">
                </a>
              </div>
              <div class="descr">
                <div class="tag">Shopee</div>
                <h3 class="title">
                  <a target="_blank" href="{{ site.instagram }}">
                    Baru! dari hiplii.com
                  </a>
                </h3>
                <div class="meta-tags">
                  <span class="date">5 Oktober 2019</span> 
                  <span class="comments">| <a href="{{ site.url }}/blog" target="_blank"> by {{ site.author }}</a></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 text-center">
            <a href="{{ site.blog }}" target="_blank" class="btn btn-common">Lihat info lain</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Section End -->