    <!-- KATEGORI PROMO 3 START -->
    <section id="promo3" class="section-padding text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ page.promo3 }}</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">DISKON PILIHAN {{ page.promo3 }}</p>
            </div>
          </div>
        </div>            
        
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo3aimg }}" alt="Promo 3">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo3alink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo3alink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo3alink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo3alink }}" target="_blank">{{ page.promo3aprice }}</a></h3>Rp <del>{{ page.promo3adel }}</del>
                <p>{{ page.promo3adesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo3bimg }}" alt="Promo 3">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo3blink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo3blink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo3blink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo3blink }}" target="_blank">{{ page.promo3bprice }}</a></h3>Rp <del>{{ page.promo3bdel }}</del>
                <p>{{ page.promo3bdesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo3cimg }}" alt="Promo 3">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo3clink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo3clink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo3clink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo3clink }}" target="_blank">{{ page.promo3cprice }}</a></h3>Rp <del>{{ page.promo3cdel }}</del>
                <p>{{ page.promo3cdesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>          
            
          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo3dimg }}" alt="Promo 3">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo3dlink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo3dlink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo3dlink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo3dlink }}" target="_blank">{{ page.promo3dprice }}</a></h3>Rp <del>{{ page.promo3ddel }}</del>
                <p>{{ page.promo3ddesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="1s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo3eimg }}" alt="Promo 3">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo3elink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo3elink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo3elink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo3elink }}" target="_blank">{{ page.promo3eprice }}</a></h3>Rp <del>{{ page.promo3edel }}</del>
                <p>{{ page.promo3edesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="1.2s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo3fimg }}" alt="Promo 3">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo3flink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo3flink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo3flink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo3flink }}" target="_blank">{{ page.promo3fprice }}</a></h3>Rp <del>{{ page.promo3fdel }}</del>
                <p>{{ page.promo3fdesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
        </div>
        
        <a href="{{ page.promo3all }}" class="btn btn-common mt-30 wow fadeInUp" target="_blank" data-wow-delay="0.6s"> <i class="fa fa-mail-forward"></i> LIHAT SEMUA {{ page.promo3 }}</a>
      </div>          
    </section>
    <!-- KATEGORI PROMO 3 end-->