    <!-- KATEGORI PROMO 2 -->
    <section id="promo2" class="section-padding text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ page.promo2 }}</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">DISKON PILIHAN {{ page.promo2 }}</p>
            </div>
          </div>
        </div>          
        
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo2aimg }}" alt="Promo 2">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo2alink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo2alink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo2alink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo2alink }}" target="_blank">{{ page.promo2aprice }}</a></h3>Rp <del>{{ page.promo2adel }}</del>
                <p>{{ page.promo2adesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo2bimg }}" alt="Promo 2">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo2blink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo2blink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo2blink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo2blink }}" target="_blank">{{ page.promo2bprice }}</a></h3>Rp <del>{{ page.promo2bdel }}</del>
                <p>{{ page.promo2bdesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo2cimg }}" alt="Promo 2">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo2clink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo2clink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo2clink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo2clink }}" target="_blank">{{ page.promo2cprice }}</a></h3>Rp <del>{{ page.promo2cdel }}</del>
                <p>{{ page.promo2cdesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>          
            
          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo2dimg }}" alt="Promo 2">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo2dlink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo2dlink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo2dlink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo2dlink }}" target="_blank">{{ page.promo2dprice }}</a></h3>Rp <del>{{ page.promo2ddel }}</del>
                <p>{{ page.promo2ddesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="1s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo2eimg }}" alt="Promo 2">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo2elink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo2elink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo2elink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo2elink }}" target="_blank">{{ page.promo2eprice }}</a></h3>Rp <del>{{ page.promo2edel }}</del>
                <p>{{ page.promo2edesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-6 col-lg-4">
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInUp" data-wow-delay="1.2s">
              <div class="team-img">
                <img class="img-fluid" src="{{ page.promo2fimg }}" alt="Promo 2">
                <div class="team-overlay">
                  <div class="overlay-social-icon text-center">
                    <ul class="social-icons">
                      <li><a href="{{ page.promo2flink }}" target="_blank"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                      <li><a href="https://wa.me/{{ site.nstelp }}?text=Saya%20minat%20{{ page.promo2flink }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                    <!-- tombol beli sekarang baris 6-->
                    <a href="{{ page.promo2flink }}" target="_blank" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1s"> BELI DI SHOPEE</a>  
                    <!-- tombol beli sekarang 6-->
                  </div>
                </div>
              </div>
              <div class="info-text">
                <h3><a href="{{ page.promo2flink }}" target="_blank">{{ page.promo2fprice }}</a></h3>Rp <del>{{ page.promo2fdel }}</del>
                <p>{{ page.promo2fdesc }}</p>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>
        </div>
        
        <a href="{{ page.promo2all }}" class="btn btn-common mt-30 wow fadeInUp" target="_blank" data-wow-delay="0.6s"> <i class="fa fa-mail-forward"></i> LIHAT SEMUA {{ page.promo2 }}</a>
      </div>          
    </section>
    <!-- KATEGORI PROMO 2 end-->